.navTitle{
    background-image: url("../assets/clouds.jpg");
    background-size: cover;
    margin: 0;
    padding: 20pt;
}
.newTitle{
    color: white;
    font-family: 'Luckiest Guy', cursive;
    font-size: 40pt;
    margin: 0;
    padding: 20pt;
}

.current{
    color: black;
    font-size: 20pt;  
}